<li><a class="menu__option" href="#">Lorem</a></li>
<li><a class="menu__option" href="#">Ipsum</a></li>
<li><a class="menu__option" href="#">Notes</a></li>
<li><a class="menu__option" href="#">Management</a></li>
<li><a class="menu__option" href="#">Jakub Zíka</a></li>