{#<li><a class="menu__option" href="#">Lorem</a></li>#}
{#<li><a class="menu__option" href="#">Ipsum</a></li>#}
{#<li><a class="menu__option" href="#">Notes</a></li>#}
{#<li><a class="menu__option" href="#">Manage</a></li>#}
{% for link in menu %}
  {% if link.permission >= info.permission %}
  <li><a class="menu__option" href="" onclick="loadPage('{{ link.url }}')">{{ link.name }}</a></li>
  {% endif %}
{% endfor %}