<div class="info-parent">
  <div class="info">
    <ul class="info__info">
      {% if info.logged %}
        <li>
          Logged in as:
          <span class="info--highlight">{{ info.name }}</span>
        </li>
        <li>
          Permissions:
          <span class="info--highlight">{{ info.permission }}</span>
        </li>
        <li>
          <a class="content__link" href="#" onclick="logout()">Logout</a>
        </li>
      {% endif %}
      {% if not(info.logged) %}
        <li>

          <input id="email-input" class="content__textarea" type="text" value="" placeholder="email" name="email"
                 required>
          <br>
          <input id="password-input" class="content__textarea" type="password" value="" placeholder="password"
                 name="password" required>
          <br>
          <a class="content__link" href="#" onclick="login()">Log in</a>

        </li>
      {% endif %}
    </ul>
  </div>

  <div class="info">
    <ul class="info__info">
      <li>
        <span class="info--highlight">undefined</span> things to do today
      </li>
      <li>
        <span class="info--highlight-s">undefined</span> things to do this week
      </li>
      <li>
        <span class="info--highlight">undefined</span> things to do this month
      </li>
      <li>
        <span class="info--highlight-s">undefined</span> mentions
      </li>
    </ul>
  </div>
</div>