<div class="info-parent">

  <div class="user">
    <div class="info">
      <ul class="info__info">
        <li>
          Logged in as:
          <span class="info--highlight">Jakub Zíka</span>

        </li>
        <li>
          Permissions:
          <span class="info--highlight">None</span>

        </li>

      </ul>
    </div>
  </div>
</div>
<div class="server-info">

</div>
<div class="info-parent">
  <div class="notes">
    <div class="info">
      <ul class="info__info">
        <li>
          <span class="info--highlight">bleh</span> things to do today
        </li>
        <li>
          <span class="info--highlight-s">Mlem</span> things to do this week
        </li>
        <li>
          <span class="info--highlight">None</span> things to do this month
        </li>
        <li>
          <span class="info--highlight-s">Poot poot</span> mentions
        </li>
      </ul>
    </div>
  </div>
</div>