<div class="content">
  <h1 class="content__heading-1" style="text-align: center;">
    <img src="{{ url_for('static', filename='img/opeteth-logo-300x300.png') }}" alt="">
  </h1>
  <h2 class="content__heading-2" style="text-align: center;">Welcome</h2>
</div>
