<h1 class="content__heading-1 management__align-center">Choose what you want to do</h1>
<ul class="management__block-parent">
  <li>
    <div class="management__selection-block">
      <h4 class="content__heading-4">Allows you to see devices status and wake them</h4>
      <button class="content__button" onclick="loadPage('manage/devices')">devices</button>
      
    </div>
  </li>
  <li></li>
  <li></li>
</ul>