<div class="content">
  <div class="" style="display: none;" >
    <h2 class="content__heading-2">Notes</h2>
    <table class="content__table">
      <thead class="content__table__head">
      <tr class="content__table__row content__table__row--heading">
        <th class="content__table__cell content__table__cell--heading">Name</th>
        <th class="content__table__cell content__table__cell--heading">Content</th>
        <th class="content__table__cell content__table__cell--heading">Due</th>
        <th class="content__table__cell content__table__cell--heading"></th>
      </tr>

      </thead>
      <tbody class="content__table__body">
      <tr class="content__table__row">
        <td class="content__table__cell">Sample name</td>
        <td class="content__table__cell">Sample content Ut tempus purus at lorem. Nulla quis diam. Nam sed tellus id magna elementum tincidunt. Nullam eget nisl. Integer lacinia. Nullam dapibus fermentum ipsum. Nunc tincidunt ante vitae massa. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui</td>
        <td class="content__table__cell">10 5 2016</td>
        <td class="content__table__cell"><a href="#" class="content__link">X</a></td>
      </tr>
      <tr class="content__table__row">
        <td class="content__table__cell">Sample name</td>
        <td class="content__table__cell">Sample content</td>
        <td class="content__table__cell">10 5 2016</td>
        <td class="content__table__cell"><a href="#" class="content__link">X</a></td>
      </tr>
      <tr class="content__table__row">
        <td class="content__table__cell">Sample name</td>
        <td class="content__table__cell" contenteditable>Sample content,Ut tempus purus at lorem. Nulla quis diam. Nam sed tellus id magna elementum tincidunt. Nullam eget nisl. Integer lacinia. Nullam dapibus fermentum ipsum. Nunc tincidunt ante vitae massa. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui</td>
        <td class="content__table__cell">10 5 2016</td>
        <td class="content__table__cell"><a href="#" class="content__link">X</a></td>
      </tr>
      <tr class="content__table__row">
        <td class="content__table__cell">Sample name</td>
        <td class="content__table__cell">Sample content Ut tempus purus at lorem. Nulla quis diam. Nam sed tellus id magna elementum tincidunt. Nullam eget nisl. Integer lacinia. Nullam dapibus fermentum ipsum. Nunc tincidunt ante vitae massa. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui</td>
        <td class="content__table__cell">10 5 2016</td>
        <td class="content__table__cell"><a href="#" class="content__link">X</a></td>
      </tr>
      </tbody>
    </table>
{#    <div class="">#}
{#      <textarea></textarea>#}
{#    </div>#}
  </div >
  <div id="notes">

  </div>
</div>
