<ul>
  <li>
    <h1 class="content__heading-1">Lorem ipsum</h1>
  </li>
  <li>
    <h2 class="content__heading-2">Lorem ipsum</h2>
  </li>
  <li>
    <h3 class="content__heading-3">Lorem ipsum</h3>
  </li>
  <li>
    <h4 class="content__heading-4">Lorem ipsum</h4>
  </li>
  <li>
    <h5 class="content__heading-5">Lorem ipsum</h5>
  </li>

  <li>
    <button class="content__button" onclick="loadPage('notes')">Go to notes page</button>
  </li>
  <li>
    <input type="text" class="content__textarea">
  </li>
  <li>
    <textarea class="content__textarea"></textarea>
  </li>
  <li>
    <select class="content__select">
      <option>Sangus</option>
      <option>Integer</option>
      <option>Magnam</option>
      <option>Dolorem</option>
    </select>
  </li>
  <li>
    <p class="content__text">In convallis. <a href="#" class="content__link">Praesent dapibus</a>. Suspendisse nisl.
      Mauris elementum mauris vitae tortor. Lorem ipsum dolor sit
      amet,
      consectetuer adipiscing elit. Fusce tellus. Maecenas lorem. Etiam posuere lacus quis dolor. Quis autem vel eum
      iure
      reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
      reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat
      quo
      voluptas nulla pariatur?<span class="content__b"> Duis viverra diam non justo</span>. Fusce tellus odio, dapibus id fermentum quis, suscipit id
      erat.
      In laoreet, magna id viverra tincidunt, sem odio bibendum justo, vel imperdiet sapien wisi sed libero. Neque porro
      quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
      tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
  </li>
</ul>