<div class="content">
<div class="content__heading-1">Some slav squating pro tebe negře</div>
{% for i in range(27) %}
  {% if i < 10 %}
    <img src="{{ (url_for('static', filename='img/slav/0'+ (i + 1).__str__()+'.jpg')) }}" alt="">
  {% else %}
    <img src="{{ (url_for('static', filename='img/slav/'+ (i + 1).__str__()+'.jpg')) }}" alt="">
  {% endif %}
  <br>
{% endfor %}
</div>