<div class="content"><h1 class="content__heading-1">Lorem fuscus</h1>
<h2 class="content__heading-2">Dolard</h2>
<p class="content__text">
  Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Vestibulum erat nulla, ullamcorper nec, rutrum non,
  nonummy ac, erat. Aliquam ornare wisi eu metus. Nullam dapibus fermentum ipsum. Itaque earum rerum hic tenetur a
  sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
  repellat. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet
  ante. Aenean id metus id velit ullamcorper pulvinar. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et,
  dolor. Ut tempus purus at lorem. Proin mattis lacinia justo. Nulla non lectus sed nisl molestie malesuada. Ut enim ad
  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Pellentesque arcu.
</p>
<h2 class="content__heading-2">Integer</h2>
<p class="content__text">
  Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Vestibulum erat nulla, ullamcorper nec, rutrum non,
  nonummy ac, erat. Aliquam ornare wisi eu metus. Nullam dapibus fermentum ipsum. Itaque earum rerum hic tenetur a
  sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
  repellat. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet
  ante. Aenean id metus id velit ullamcorper pulvinar. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et,
  dolor. Ut tempus purus at lorem. Proin mattis lacinia justo. Nulla non lectus sed nisl molestie malesuada. Ut enim ad
  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Pellentesque arcu.
</p>
<h2 class="content__heading-2">Vestibulum</h2>
<p class="content__text">
  Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam. Vestibulum erat nulla, ullamcorper nec, rutrum non,
  nonummy ac, erat. Aliquam ornare wisi eu metus. Nullam dapibus fermentum ipsum. Itaque earum rerum hic tenetur a
  sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
  repellat. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet
  ante. Aenean id metus id velit ullamcorper pulvinar. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et,
  dolor. Ut tempus purus at lorem. Proin mattis lacinia justo. Nulla non lectus sed nisl molestie malesuada. Ut enim ad
  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Pellentesque arcu.
</p></div>