<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% block headDependencies %}
  {% endblock %}

</head>
<body>
<div id="menu">

  {% block sidebar %}
  {% endblock %}

</div>

<div id="content">

  {% block content %}
    {% include "pages/loading.jinja2" %}
  {% endblock %}

</div>

<input type="hidden" id="refresh" value="no">
{% block bodyDependencies %}
{% endblock %}
</body>
</html>