$color1: #ed36ea; //rgba(237, 54, 234, 100)
$color2: #2ca58d; //rgba(44, 165, 141, 100)
$color3: #84bc9c; //rgba(132, 188, 156, 100)
$color4: #fffdf7; //rgba(255, 253, 247, 100)
$color5: #f46197; //rgba(244, 97, 151, 100)
$color6: #272727;
$color7: #0FA0CE;

$background-color: $color2;
$heading-color: #C3F4CB;
$text-color: #212121;

$link-color: #d126b1;
$link-color-hover: #f829d6;

$ratio: 1.4;
$h1-size: 50px;
$h2-size: $h1-size / $ratio;
$h3-size: $h2-size / $ratio;
$h4-size: $h3-size / $ratio;
$h5-size: $h4-size / $ratio;
$text-size: 16px;

$management-block: #96bbbc;
