{% extends "layouts/mainLayout.jinja2" %}

{% block headDependencies %}
  {% include "./partials/headDependencies.jinja2" %}
{% endblock %}

{% block bodyDependencies %}
  {% include "./partials/bodyDependencies.jinja2" %}
{% endblock %}

{% block sidebar %}
  {% include "./layouts/sidebar.jinja2" %}
{% endblock %}
