$color1: #ed36ea; //rgba(237, 54, 234, 100)
$color2: #2ca58d; //rgba(44, 165, 141, 100)
$color3: #84bc9c; //rgba(132, 188, 156, 100)
$color4: #fffdf7; //rgba(255, 253, 247, 100)
$color5: #f46197; //rgba(244, 97, 151, 100)
$color6: #272727;

$h1-size: 50px;
$h2-size:0;
$h3-size:0;
$h4-size:0;
$h5-size:0;
$text-size:0;