react test devices
<div id="devices"></div>
{#<script src="{{ url_for('static', filename='js/components/device/device.js') }}"></script>#}
{#<script src="{{ url_for('static', filename='js/devices.js') }}"></script>#}
